* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  position: relative;
}

.backgroundImg {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 50vw;
  height: 150vh;
}

header {
  width: 100%;
  box-shadow: 0px 1px 10px black;
  position: relative;
  z-index: 2;
}
header nav {
  width: 100%;
}
header nav ul {
  width: 70%;
  padding: 2rem;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
header nav ul li {
  font-size: 1.75rem;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}

.active {
  color: #E08958;
}

main {
  display: flex;
  flex-wrap: wrap;
}
main section.left {
  flex: 7 1 600px;
  padding: 0rem 2rem;
}
main section.left h1 {
  color: #E08958;
  font-size: 3rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
}
main section.left h2 {
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem 2rem;
}
main section.left p {
  font-size: 2.23rem;
  padding: 1rem 0rem;
}
main section.right {
  position: relative;
  flex: 3 1 600px;
}
main section.right img.myPic {
  width: 30vw;
  height: 30vw;
  position: absolute;
  right: 10vw;
  top: 52.5vh;
  transform: translateY(-50%);
}
main section.table {
  flex: 3 1 700px;
  padding: 2rem 3rem;
}
main section.table table {
  border-collapse: collapse;
}
main section.table table tr td {
  border-bottom: 2px black solid;
  padding: 1rem;
  font-size: 2rem;
}
main section.table table tr .techlogo {
  position: relative;
  top: 0.5rem;
}
main section.picture {
  flex: 1 1 500px;
  position: relative;
}
main section.picture img {
  margin-top: 2rem;
  width: 25vw;
}
main section.picture .orangeRect {
  width: 25vw;
  height: 40vw;
  background-color: #E08958;
  position: absolute;
  top: 150px;
  left: 120px;
  z-index: -1;
}
main section.list {
  flex: 1 1 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
}
main section.list div.concact h2 {
  margin: 2rem 0rem;
  text-align: center;
}
main div.line {
  background-color: gray;
  width: 3px;
  margin: 2rem 0rem;
}
main section.form {
  flex: 1 1 600px;
  padding: 2rem 3rem;
}
main section.form form {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main section.form form div {
  padding: 1rem 0rem;
}
main section.form form div input,
main section.form form div textarea {
  background-color: #E08958;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  border: none;
  width: 100%;
  border-radius: 15px;
}
main section.form form button {
  align-self: center;
  width: 10rem;
  padding: 1rem 1rem;
  background-color: #ce7846;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  margin: 2rem 0rem;
  cursor: pointer;
}
main section.form form button:hover {
  background-color: #E08958;
  color: white;
}

div.links {
  display: flex;
  margin-top: 2rem;
}
div.links a {
  padding: 1rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3rem;
}
footer a {
  padding: 0rem 1rem;
}

@media screen and (max-width: 1200px) {
  .backgroundImg {
    opacity: 0.5;
  }
  header nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header nav ul li {
    padding: 0.5rem 0rem;
    border-bottom: gray solid;
  }
  main section.right {
    display: flex;
    justify-content: center;
  }
  main section.right img.myPic {
    position: static;
    transform: none;
    width: 50vw;
    height: 50vw;
    margin: 2rem 0rem;
  }
  main section.picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section.picture .orangeRect {
    display: none;
  }
  main section.table {
    padding: 0rem;
  }
  main section.table div.links {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  }
  main section.list {
    border-right: none;
    padding: 2rem 0.5rem;
    padding-bottom: 1rem;
  }
  main div.line {
    display: none;
  }
  main section.form {
    margin-top: 0rem;
    padding-bottom: 2rem;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */